.dropdown-container {
    background-color: var(--bg3_color);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border_radius);
    flex-direction: column;
}

.options-container{
    
}

.options-container .option{
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
}