.main-container{
    display: flex;
    align-items: center;
    gap: 1ch;
    background-color: red;
}

.main-container>img{
    height: 1rem;
    top: 0;
    left: 0;
}

input{
    outline: none;
    border: none;
    background-color: yellow;
    padding: 0.25rem 1rem;
    width: calc(100% - 1ch - 1rem);
}