.main-container {}

.header {
    background-color: var(--bg2_color);
    color: var(--text1_color);
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 1rem;
}

.content {
    color: var(--text1_color);
    background-color: var(--bg1_color);
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding: 4rem;
    grid-gap: 2rem;
}

.filter{
    /* padding: 1rem; */
}

.flter-fields{
    background-color: var(--bg2_color);
    width: 100%;
    padding: 1rem 0;
    border-radius: var(--border_radius);
}

.filter .input .range{
    width: 100%;
    margin: 0.5rem 0;
}
.filter .input{
    margin: 1rem;
}

.filter .radio-input{
    display: flex;
    justify-content: space-around;
}

.filter .input .radio{
    display: flex;
    gap: 1rem;
}

.filter h2{
    margin: 1rem;
    margin-top: 0;
    /* border-bottom: var(--border_width) solid var(--text1_color); */
}

.result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.content .filter {}

.content .result {}

@media screen and (max-width:1100px){
    .result{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:700px){

    .content{
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .result{
        grid-template-columns: 1fr;
    }

    .filter{
       
    }
}